
    <div >
      <div class="d-flex">
        <p style="margin-right:40%;" class="text-center text-primary fs-4">إضافه طلب</p>
       <button style="margin-right:40%;" (click)="onNoClick()" type="button" class="btn-close  " aria-label="Close"></button>
     </div>
 <div class="card p-2">
  <div class="d-flex flex-row">
    <div class="form-group col-4">
      <label for="Q" class="col-sm-6 control-label fs-6 fw-bold">اسم العميل</label>
      <div class="col-sm-10">
        <input type="text"  id="Q" class="form-control" />
      </div>
    </div>

    <div class="form-group col-sm-4 mt-1">
      <label for="Q" class="col-sm-6 control-label fs-6 fw-bold">رقم التليفون</label>
      <div class="col-sm-10">
        <input type="number" min="0" id="Q" class="form-control" />
      </div>
    </div>
    <div class="form-group col-sm-4 mt-1">
      <label for="Q" class="col-sm-3 control-label fs-6 fw-bold">العنوان </label>
      <div class="col-sm-10">
        <input type="text"  id="Q" class="form-control" />
      </div>
    </div>
  </div>




 </div>

      <form style="margin-right:4% ;" class="form-horizontal col-12" ng-submit="submitStudnetForm()" role="form">
  
  
        <div class="d-flex flex-row">
          <div class="form-group col-sm-6">
            <label for="dob" class="col-sm-3 control-label fs-6 fw-bold">التاريخ</label>
            <div class="col-sm-10">
              <input type="date" id="dob" class="form-control" />
            </div>
            <div class="col-sm-7"></div>
          </div>
          <div class="form-group col-6">
            <label for="item" class="col-sm-6 control-label fs-6 fw-bold"> مجموعات الاصناف</label>
            <div class="col-sm-10">
              <select id="item" class="form-select">
                <option value="male"> مشويات</option>
                <option value="female"> مقليات </option>
              </select>
            </div>
          </div>
  
  
        </div>
        <div class="d-flex flex-row">
          <div class="form-group col-6">
            <label for="item" class="col-sm-6 control-label fs-6 fw-bold">اسم المنتج</label>
            <div class="col-sm-10">
              <select id="item" class="form-select">
                <option value="male">سمك بوري مشوي</option>
                <option value="female">سمك بلطي مشوي</option>
              </select>
            </div>
          </div>
  
          <div class="form-group col-sm-6 mt-1">
            <label for="Q" class="col-sm-3 control-label fs-6 fw-bold">العدد</label>
            <div class="col-sm-10">
              <input type="number" min="0" id="Q" class="form-control" />
            </div>
          </div>
        </div>

        <div class="d-flex flex-row">
            <div class="form-group col-6">
              <label for="item" class="col-sm-6 control-label fs-6 fw-bold">النوع </label>
              <div class="col-sm-10">
                <select id="item" class="form-select">
                  <option value="male">خارجي </option>
                  <option value="female">  داخلي</option>
                  <option value="female">  عن طريق الموقع</option>
                </select>
              </div>
            </div>
    
            <!-- <div class="form-group col-sm-6 mt-1">
              <label for="Q" class="col-sm-3 control-label fs-6 fw-bold">الحاله</label>
              <div class="col-sm-10">
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" >
                    <label class="form-check-label" for="flexRadioDisabled">
                      جاري التحضير 
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" >
                    <label class="form-check-label" for="flexRadioCheckedDisabled">
                   تم التسليم
                    </label>
                  </div>
              </div>
            </div> -->
          </div>

 <div> <button style="width:20% ;margin-right:70%;" type="button" class="btn btn-primary  ">اضافه
          </button></div>
      </form>
    </div>
  
    <br>
    <table style="width:90% ;margin-right: 5%;" class="table table-bordered  rounded text-center">
      <tr style="background-color:#0473b9 ; color:white;height:30px;font-size: 15px;" class="text-center">
        <th>رقم الطلب</th>
  
        <th>الصنف</th>
        <th>الكميه</th>
        <th>السعر</th>
        <th>الاجمالي</th>
        <th></th>
      </tr>
  
      <tr>
        <td>1</td>
        <td>سمك بوري مشوي</td>
        <td>3</td>
        <td>50</td>
        <td>150</td>
  
        <td>
          <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
          <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>ارز </td>
        <td>3</td>
        <td>12</td>
        <td>36</td>
  
        <td>
          <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
          <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>طحينه </td>
        <td>3</td>
        <td>3</td>
        <td>9</td>
  
        <td>
          <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
          <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </table>
  
 
  <div class="d-flex" >
    <label for="Q" class=" control-label fs-6 fw-bold">اجمالي الطلب</label>
    <input type="number" min="0" readonly id="Q" class="  text-center rounded" value="195" />
   <button style="width: 30% ;margin-right:10%;" type="button" class="btn btn-primary  ">تسجيل الطلب
    </button>
    <button style="width: 15% ;margin-right:1%;" type="button" (click)="onNoClick()" class="btn btn-danger  ">إغلاق 
    </button>
  </div>
