<div id="about">
    <h1 class="title">About us</h1>
    <div class="about_row">
    <div class="about_column">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate aperiam id saepe natus tempore adipisci neque incidunt vel nam, distinctio, eos labore cupiditate assumenda doloremque. Assumenda illo delectus aliquid libero, quisquam vero facere molestias neque similique, aperiam dolores ex mollitia nobis nostrum blanditiis autem qui itaque quos, nisi dolore.</p>
    <button id="btn1">learn more</button>
    </div>
    <div class="about_column">
    <img src="https://img.freepik.com/free-photo/chef-making-ok-sign-white-background_1368-2804.jpg?w=2000
    " alt="">
    </div>
    </div>
    </div>
    
    
  