



<div style="background-color: rgb(243, 242, 242);">
    <div class="mb-3  mx-5 card px-5 py-4 col-11">
    <p class="text-center text-primary fs-4" >اضافه صنف</p>
    <form style="margin-right:4% ;" class="form-horizontal col-12" ng-submit="submitStudnetForm()" role="form">
     
          <div class="d-flex flex-row"> 
           
          <div class="form-group col-6">
            <label for="item" class="col-sm-6 control-label fs-6 fw-bold"> اسم الصنف</label>
            <div class="col-sm-10">
                <input type="text" id="Q" class="form-control"  />
            </div> 
        </div>
  
        <div class="form-group col-sm-6 mt-1">
          <label for="Q" class="col-sm-3 control-label fs-6 fw-bold"> الوصف</label>
          <div class="col-sm-10">
              <input type="text" id="Q" class="form-control"  />
          </div> 
          </div>
          </div>

          <div class="d-flex flex-row"> 

            <div class="form-group col-sm-6 mt-1">
                </div>
        <div class="form-group col-sm-6 mt-1">
            <button style="width:40% ;margin-right:42%;margin-top:5%;" type="button" class="btn btn-primary  ">اضافه
            </button> 
          </div>
          </div>
        </form>
      </div>
  
        <br>
        <table style="width:90% ;margin-right: 5%;" class="table table-bordered  rounded text-center">
            <tr  style="background-color:#0473b9 ; color:white;height:30px;font-size: 15px;"class="text-center">
                <th>كود الصنف</th>
                <th>اسم الصنف</th>
                <th>الوصف</th>
                <th></th>
            </tr>
            
            <tr >
                <td>5</td>
                <td>سمك بوري</td>
                <td>سمك بوري طازج</td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr >
                <td>6</td>
                <td>سمك بلطي</td>
                <td>سمك بلطي طازج</td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </table> 
      </div>
    


<!-- 
<div class="mb-3  mx-5 card p-4">
   
    <form class="form-horizontal " role="form">
     
          <div class="d-flex flex-row"> 
            <div class="form-group col-6">
                <label for="item" class="col-sm-3 control-label">اسم العنصر</label>
                <div class="col-sm-10">
                    <input type="text" id="Q" class="form-control"  />
                </div> 
            </div>
            <div class="form-group col-sm-6">
            <label for="Q" class="col-sm-3 control-label">الوصف</label>
            <div class="col-sm-10">
                <input type="text" id="Q" class="form-control"  />
            </div>  
         </div>
         </div>
         </form>
         <div class="d-flex p-2">
            <button style="width:60px ;margin-right:90%;" type="button" class="btn btn-primary  ">اضافه</button>
            
        </div>
        </div>
        <table class="table table-bordered text-center str">
            <tr  style="background-color: rgb(230, 232, 234);"class="text-center">
                <th>كود الصنف</th>
                <th>اسم الصنف</th>
                <th>الوصف</th>
                <th>العمليات</th>
            </tr>
            <tr >
                <td>5</td>
                <td>سمك بوري</td>
                <td>سمك بوري طازج</td>
                <td>
                    <button style="width:70px ;color: black;" type="button" class="btn btn-secondary">تعديل</button>
                   | <button style="width:70px;margin-right:1%; color: red;" type="button" class="btn btn-danger">حذف</button>
                </td>
                
            </tr>
            <tr >
                <td>6</td>
                <td>سمك بلطي</td>
                <td>سمك بلطي طازج</td>
                <td>
                    <button style="width:70px ;color: black;" type="button" class="btn btn-secondary">تعديل</button>
                   | <button style="width:70px;margin-right:1%; color: red;" type="button" class="btn btn-danger">حذف</button>
                </td>
                
            </tr>
            </table> -->