

<div style="background-color: rgb(243, 242, 242);">
    <div class="mb-3  mx-5 card px-5 py-4 col-11">
    <p class="text-center text-primary fs-4" >مجموعات ألاصناف</p>
    <form style="margin-right:4% ;" class="form-horizontal col-12" ng-submit="submitStudnetForm()" role="form">
     
          <div class="d-flex flex-row"> 
           
          <div class="form-group col-6">
            <label for="item" class="col-sm-6 control-label fs-6 fw-bold"> اسم المجموعه</label>
            <div class="col-sm-10">
                <input type="text" id="Q" class="form-control"  />
            </div> 
        </div>
  
        <div class="form-group col-sm-6 mt-1">
          <label for="Q" class="col-sm-3 control-label fs-6 fw-bold"> الوصف</label>
          <div class="col-sm-10">
              <input type="text" id="Q" class="form-control"  />
          </div> 
          </div>
          </div>

          <div class="d-flex flex-row"> 

            <div class="form-group col-sm-6 mt-1">
                </div>
        <div class="form-group col-sm-6 mt-1">
            <button style="width:40% ;margin-right:42%;margin-top:5%;" type="button" class="btn btn-primary  ">حفظ
            </button> 
          </div>
          </div>
        </form>
      </div>
  
        <br>
        <table style="width:90% ;margin-right: 5%;" class="table table-bordered  rounded text-center">
            <tr  style="background-color:#0473b9 ; color:white;height:30px;font-size: 15px;"class="text-center">
                <th>الكود </th>
                <th>اسم المجموعه</th>
                <th>الوصف</th>
                <th></th>
            </tr>
            
            <tr >
                <td>1</td>
                <td> مشويات</td>
                <td> </td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr >
                <td>2</td>
                <td>مقليات </td>
                <td></td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr >
                <td>3</td>
                <td>وجبات </td>
                <td></td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            <tr >
                <td>4</td>
                <td>سلطات </td>
                <td></td>
                <td>
                    <button style="border:none;"><i class="bi bi-pencil-square"></i></button>
                    <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </table> 
      </div>