
    <nav class="navbar">
        <!-- The nav logo part -->
        <div class="navlogo">LOGO</div>
        <!-- The hambargar menu -->
        <a href="#" class="ham">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <!-- The nav links part -->
        <div class="navlinks">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/products" >products</a></li>
                <li><a href="/cart">cart</a></li>
            </ul>
        </div>
    </nav>
