        
   <header>
    <nav id="navbar">
        <div class="logo">
          <img src="/assets/logo-oriz-white.png" alt="" srcset="" />
        </div>
        <ul>
           <li><a href="#home">Home</a></li>
           <li><a href="#menu">Menu</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>  
           <!-- <span class="papespane">2</span> -->
        </ul>
     </nav>
   <div id="mobile">
     <div class="logo1"><span>Sea food</span></div>
        <ul>
          <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#home">Home</a></li>



        </ul>
     </div>

<div class="overlay">
<section id="home">
    <h1 class="h-primary">Welcome to Seafood Resturant</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
    <button class="btn">Order Now</button>
</section>
</div>
</header>



<!-------------------------------------End footer------------------------>

