<div class="big-container">
        
    <header>
     
 
    
  <div class="overlay">
    <section id="home">
        <h1 class="h-primary">Welcome to Seafood Resturant</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
        <button class="btn">Order Now</button>
    </section>
  </div>
  </header>
  
       <!------------------- ------------start panner we offer---------------->
    <div class="panner">
      <div class="container panner-text">
        <h2>WE OFFER FIRST CLASS SHRIMPS</h2>
        <p>
          We guarantee you the best seafood, delivered daily to our dock, prepared
          to your liking. Our focus <br />
          is on serving the absolute freshest fish and seafood.
        </p>
      </div>
    </div>
  <!------------------- ------------end panner we offer---------------->
    
            <div id="menu">
                <div class="heading">
                    <h1>Menu</h1>
                    <h3>Today's Special</h3>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1626074353765-517a681e40be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
                    <div class="details">
                        <div class="details-sub">
                            <h5>Lorem, ipsum.</h5>
                            <h5 class="price"> $10 </h5>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit reiciendis nam non quia! Earum eveniet minus. Facilis explicabo natus nihil voluptatem eveniet pariatur.</p>
                        <button>Add To Cart</button>
                    </div>
                </div>
       
           
            </div>
  
  
    <div id="about">
        <h1 class="title">About us</h1>
        <div class="about_row">
            <div class="about_column">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate aperiam id saepe natus tempore adipisci neque incidunt vel nam, distinctio, eos labore cupiditate assumenda doloremque. Assumenda illo delectus aliquid libero, quisquam vero facere molestias neque similique, aperiam dolores ex mollitia nobis nostrum blanditiis autem qui itaque quos, nisi dolore.</p>
        <button id="btn1">learn more</button>
    </div>
    <div class="about_column">
        <img src="https://img.freepik.com/free-photo/chef-making-ok-sign-white-background_1368-2804.jpg?w=2000
        " alt="">
    </div>
  </div>
  </div>
    
  </div>
  
  
  <!-- <div class="fluid">
    <div class="nav">
      <div class="logo">
        <img src="/assets/img/logo-oriz-white.png" alt="" srcset="" />
      </div>
      <div class="left-nav">
        <ul>
          <li><a href="#"> home</a></li>
          <li><a href="#"> About </a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="cardCustomer">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
     </div>
    </div>
  </div> -->
  <!---------------------------start welcome Section ---------------------->
  <!-- <div class="welcome">
    <h6>welcome</h6>
    <h5>SEAFOOD COMPANY</h5>
    <div class="container">
      <div class="ImgAndText">
        <div class="Welcome-text">
            <h3>Our Seafood</h3>
            <p>
              Fish markets range in size from small fish stalls,<br />
              such as the one in the photo at the right, to the
              <br />
              great Tsukiji fish market in Tokyo, turning over <br />
              about 660,000 tonnes a year. The term can refer
              <br />
              to the process.
            </p>       
        </div>
      <div class="Welcome-Img ">
        <img src="/assets/img/bg_welcome.jpg" alt="" srcset="" />
      </div>
    </div>
  </div>
  </div> -->
  <!---------------------------End welcome Section ---------------------->
  
  <!-- <div class="category">
    <div class="category-one">
      <span>
        <h3> Shrimp </h3> 
      </span>
    </div>
    <div class="category-one">
      <span>
        <h3> Shrimp </h3> 
      </span>
    </div>
    <div class="category-one">
      <span>
        <h3> Shrimp </h3> 
      </span>
    </div>
    <div class="category-one">
      <span>
        <h3> Shrimp </h3> 
      </span>
    </div>
  
  </div> -->

  
  <!-------------------------------------End footer------------------------>
  
  