
    
    <!-------------------------------------start footer------------------------>
    <div class="footer footer-container">
    
        <div class="footer-img">
        <img src="/assets/logo_footer.png" alt="" srcset="" />
        </div>
        <div class="footer-ABOUT">
        <h4>ABOUT US
        </h4>
        <p>For the best food, drinks and service you
        <br> can choose our restaurant.
        We guarantee you
        <br> the freshest seafood prepared to your liking.Z</p>
        </div>
        <div class="footer-CONTACT">
        <h4>CONTACT US
        </h4>
        <p>Call us at (800)-123-4567
        </p>
        <p>123 New Lenox, Chicago, IL</p>
        </div>

