
 <div  >
    <p class="text-center text-primary fs-4"> المنتجات</p>
</div>
<button style="width:20% ;margin-right:70% ;"  mat-button (click)="openDialog()"
type="button" class="btn btn-primary  ">إضافه منتج </button>
      <br>
      <table style="width:90% ;margin-right: 5%;" class="table table-bordered  rounded text-center">
        <tr style="background-color:#0473b9 ; color:white;height:30px;font-size: 15px;" class="text-center">
          <th>رقم المنتج</th>
          <th>إسم المنتج</th>
          <th>الكميه</th>
          <th>السعر</th>
          
          <th></th>
        </tr>
    
        <tr>
          <td>1</td>
          <td>سمك بوري مشوي</td>
          <td>3</td>
          <td>50</td>
          
    
          <td>
            <button style="border:none;" mat-button (click)="openDialog()"><i class="bi bi-pencil-square" ></i></button>
            <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>ارز </td>
          <td>3</td>
          <td>12</td>
         
    
          <td>
            <button style="border:none;"mat-button (click)="openDialog()"><i class="bi bi-pencil-square"></i></button>
            <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>طحينه </td>
          <td>3</td>
          <td>3</td>
          
    
          <td>
            <button style="border:none;"mat-button (click)="openDialog()"><i class="bi bi-pencil-square"></i></button>
            <button style="border:none;"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
      </table>
    
   
   
  