      <!------------------- ------------start panner we offer---------------->
      <div class="panner">
        <div class="container panner-text">
          <h2>WE OFFER FIRST CLASS SHRIMPS</h2>
          <p>
            We guarantee you the best seafood, delivered daily to our dock, prepared
            to your liking. Our focus <br />
            is on serving the absolute freshest fish and seafood.
          </p>
        </div>
      </div>
    <!------------------- ------------end panner we offer---------------->
      
